ASSIGMENT NO - 2

Q1 - HOW DO YOU COMMENT CODE IN PYTHON.WHAT ARE THE DIFFERENT TYPES OF COMMENTS .

ANSWER - we are taking two has like ## to use an comment 

there are basically three types of comment 
(i) = single line comment like ##my name is shubham shah
(ii) = multi-line comment using ''' at each of the end
(iii) = docstring comment using """my name is shubham shah"""

Q2 - WHAT ARE THE VARIABLE IN THE PYTHON. HOW DO YOU ASSIGN VALUE TO VARIABLE

ANSWER - variables is the name of memory location where we can stored different types of value.

    S = 10  Also shubham = 10
    
takeing some examples.

In [5]:
shubham = 10

In [7]:
s = 10

In [8]:
s + 1

11

Q3 - HOW DO YOU CONVERT ONE TYPE OF DATA TO ANOTHER IN PYTHON .

In [18]:
##let us taking an examples we taking an floating no and change into integer.

x = 3762.36732
int(x)

3762

In [16]:
## now let us taking another data type changeing

In [21]:
s = [2,3,4,5,6,7,]
## we are taking an list data type and we change into dictinory
zip(s)

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [1]:
my_list = [1,2,3,4,5]

In [7]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python ?

ANSWER - A COMPLEX NUMBER IS A IMAGINARY NUMBER WHICH HAVE TWO PART,
         IMAGINARY & REAL NUMBER.
    DENOTED BY - 4+5i where , 5i is imaginary & 4 is real number.
    
    
A complex number in python is denoted by a+ib .
let us we taking an example ,

In [8]:
s = 4+5j

In [9]:
type(s)

complex

Here we can see that type of s is complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [34]:
age = 25

In [35]:
age

25

Q8. Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to .

In [37]:
price = 9.99

In [38]:
print(price)

9.99

the data type of price is floating number

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable .

In [40]:
name = "SHUBHAM SHAH"

In [62]:
print(len(name))

12

Q10. Given the string "Hello, World!", extract the substring "World".

In [63]:
s = "hello world"

In [65]:
s[6:11]

'world'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not .

In [66]:
s = "is_student"

In [67]:
bool(s)

True